

:root{
    --cor-primaria: rgb(55, 56, 67);
    --cor-auxiliar: rgb(0, 0, 0);
    --cor-secundaria: #45f3ff;
    --cor2-auxiliar: rgb(24, 23, 24);
    --cor-terciaria: rgb(204, 2, 69);
    --cor3-auxiliar: rgb(241, 238, 239);
}